package templates

templ Base(store templ.Component) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Templ Webstore</title>
        <link rel="stylesheet" href="/assets/styles/styles.css">
        <script defer src="/assets/scripts/product-image.js"></script>
    </head>
    <body>
        @Header()
        @Store()
        @Footer()
    </body>
    </html>
}
